@import "tailwindcss";
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(
      -50%
    ); /* Move by half the width of the duplicated logos */
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.group:hover .animate-scroll {
  animation-play-state: paused;
}

/* @theme {
  --font-poppins: "Poppins", sans-serif;
} */
@layer base {
  body {
    /* @apply font-poppins; */
  }
}

body {
  font-family: "Poppins", sans-serif;
}
